<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titl></titl>{{tittle}}</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body> 
    <center><h1>Customer info</h1></center>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email-id</th>
                <th>Phone</th>
            </tr>
        </thead>
            {{!-- {{#each invoiceData as | invoice |}} --}}
            <tr>
                <td>{{invoice.customer_name}}</td>
                <td>{{invoice.customer_phone}}</td>
                <td>{{invoice.customer_email}}</td>
            </tr>
            {{!-- {{/each}} --}}
        </tbody>
    </table>
</div> 
</body>
</html>
 

